<div class="page">

  <h4>MasterNG DropDown Introduction</h4>

  <ul>
    <li>DropDown includes events mention as bellow</li>
  </ul>


  <table>
    <tr>
      <th>Event</th>
      <th>Custom Event Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Event-Change</td>
      <td>onChange</td>
      <td>Trigger On change the dropdown values</td>
    </tr>
  </table>

  <ul>
    <li>List can be bind as options
    </li>
    <li>Dropdown value bind properties
    </li>
    <ul>
      <li>bindValue : What can be value accept the bind with control</li>
      <li>bindLabel: What can be visible as option value with appearance</li>
      <li>selectedValue: Represents selected option value</li>
    </ul>
  </ul>


  <div class="c-intro">
    <div>Dropdown</div>
    <m-dropdown [options]="testOptions"></m-dropdown><br>

    <div id="dropdownId" class="source top-alignment" appCopyText>
  <span><</span>m-dropdown [options]="testOptions"<span>></span>
  <span><</span>/m-dropdown<span>></span>
  </div>

    <span id="copy-success-overlay">Successfully Copied</span>

  </div>


</div>
