<div class="page">

  <h4>Modal Introduction</h4>

  <ul>
    <li>Modal includes events mention as bellow</li>
  </ul>


  <table>
    <tr>
      <th>Event</th>
      <th>Custom Event Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Event-onClose</td>
      <td>onClose</td>
      <td>Trigger On click on modal close button</td>
    </tr>
  </table>

  <ul>
    <ul>
      <li>visible : Visible status maintain</li>
      <li>headerLabel: Represents header label of modal</li>
      <li>isNeedToBackDrop: Behave as boolean can be maintain backdrop of modal</li>
      <li>isClosedModalWhenClickOutSide: Can be used as boolean property used to outside click with hide modal </li>
    </ul>
  </ul>


  <div class="c-intro">

    <m-button buttonLabel="Open Modal" class="m-button-primary" (btnClick)="view = true"></m-button>

    <m-modal [visible]="view" (onClose)="view = false" [isClosedModalWhenClickOutSide]="false"
             [isNeedToBackDrop]="true"
             headerLabel="My Modal">
      Modal Body
    </m-modal>

    <div id="datepickerId" class="source" appCopyText>
      <span><</span>m-modal [visible]="view" (onClose)="view = false" headerLabel="My Modal"
      [isClosedModalWhenClickOutSide]="false"
      [isNeedToBackDrop]="true"<span>></span>
      <span>
        Modal Body
        <</span>/m-modal<span>></span>
    </div>
    <span id="copy-success-overlay">Successfully Copied</span>
  </div>


</div>
