<div class="page">

  <h4>Accordion Introduction</h4>

  <ul>
    <li>Class: Used to Change accordion styles
    </li>
  </ul>


  <div class="c-intro">
    <m-accordion id="id01">

      <header>Heading</header>
      <body>Body-Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a
      paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the
      unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group
      of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not
      determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly
      journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of
      sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it
      controls what happens in the rest of the paragraph.
      </body>
      <footer>
        <m-button buttonLabel="Reset" class="m-button-primary"></m-button>
        <m-button buttonLabel="Save" class="m-button-primary"></m-button>
      </footer>

    </m-accordion>

    <div id="dropdownId" class="source top-alignment" appCopyText>
      <span><</span>m-accordion<span>></span>
      <span><</span>/m-accordion<span>></span>
    </div>

    <span id="copy-success-overlay">Successfully Copied</span>

  </div>


</div>
