<div class="m-grid">
  <div class="m-col-12">
    <div class="m-header m-col-6">Border</div>
    <div  class="m-col-6 m-grid-content-right">
      <m-button buttonLabel="back" class="m-button-primary"
                (btnClick)="router.navigateByUrl('scss-component')"></m-button>
    </div>

  </div>

  <div class="page-content">

    <p class="dotted">A dotted border.</p>
    <p class="dashed">A dashed border.</p>
    <p class="solid">A solid border.</p>
    <p class="double">A double border.</p>
    <p class="groove">A groove border.</p>
    <p class="ridge">A ridge border.</p>
    <p class="inset">An inset border.</p>
    <p class="outset">An outset border.</p>
    <p class="none">No border.</p>
    <p class="hidden">A hidden border.</p>
    <p class="mix">A mixed border.</p>

  </div>


</div>
