@import "/src/scss/color.scss";

.box {
  height:100px;
  background-color:$light-gray;
  padding:30px;

  div {
    margin-top:10px;
    width:200px;
    padding:10px;
    background-color: $tertiary-yellow;
  }
}

.m-grid-content-right{
  top:0;
  bottom: 0;
  position: sticky;
  z-index: 1;
}

.first-div {
  box-shadow: 1px 1px 5px 3px $secondary-blue;
}

.second-div {
  box-shadow: 0 0 5px 1px $secondary-blue;
}

.third-div {
  box-shadow: inset 0 0 15px 5px $secondary-blue;
}

