<div class="m-grid">
  <div class="m-col-12">
    <div class="m-header m-col-6">Box Shadow</div>
    <div  class="m-col-6 m-grid-content-right">
      <m-button buttonLabel="back" class="m-button-primary"
                (btnClick)="router.navigateByUrl('scss-component')"></m-button>
    </div>

  </div>

  <div class="page-content">

  <div class="box">
     * Normal box shadow
    <div class="first-div">This is how you add a box-shadow to an element.</div>
  </div>

  <div class="box">
    * Normal box shadow and
    <div class="second-div">This is how you add a box-shadow to an element.</div>
  </div>

  <div class="box">
    * Box shadow using inset property can be passed values with inset property
    <div class="third-div">This is how you add a box-shadow to an element.</div>
  </div>

  </div>


</div>
