<div class="m-grid">
  <div class="m-col-12">
    <div class="m-header m-col-6">Scss Map</div>
    <div class="m-col-6 m-grid-content-right">
      <m-button buttonLabel="back" class="m-button-primary"
                (btnClick)="router.navigateByUrl('scss-trick')"></m-button>
    </div>

  </div>

  <div class="page-content">

    <div class="c-intro">
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>

          <td class="map" #ref id="id1">map-get($map, $key)</td>
          <td>Returns the value in a map associated with a given key.</td>

        </tr>
        <tr>
          <td class="map">map-merge($map1, $map2)</td>
          <td>Merges two maps together into a new map.</td>
        </tr>
        <tr>
          <td class="map">map-remove($map, $keys…)</td>
          <td>Returns a new map with keys removed.</td>
        </tr>
        <tr>
          <td class="map">map-keys($map)</td>
          <td>Returns a list of all keys in a map.</td>
        </tr>
        <tr>
          <td class="map">map-values($map)</td>
          <td>Returns a list of all values in a map.</td>
        </tr>
        <tr>
          <td class="map">map-has-key($map, $key)</td>
          <td>Returns whether a map has a value associated with a given key.</td>
        </tr>
      </table>
    </div>

    <div class="c-intro">
      <div class="m-header">map-keys($map)</div>

      $font-sizes: ("small": 12px, "normal": 18px, "large": 24px) <br>
      $font-sizes is a map that contains font sizes key is string name and value is font size number ex: 18px <br><br>

      We can get specific value passing specific key example as bellow <br>
      map-get($font-sizes, "small")<br>
      <br><br>

      Result: 12px;

    </div>

    <div class="c-intro">
      <div class="m-header">map-merge($map1, $map2)</div>

      Appends map2 to the end of map1. <br><br>

      Example:<br>
      $font-sizes: ("small": 12px, "normal": 18px, "large": 24px)<br><br>
      $font-sizes2: ("x-large": 30px, "xx-large": 36px)<br>
      map-merge($font-sizes, $font-sizes2)<br><br>
      Result: "small": 12px, "normal": 18px, "large": 24px, "x-large": 30px, "xx-large": 36px

      According to the above example we can merge maps using map-merge.

    </div>


    <div class="c-intro">
      <div class="m-header">map-remove($map, $keys…)</div>

      Removes the specified keys from map.<br>

      Example:<br><br>
      $font-sizes: ("small": 12px, "normal": 18px, "large": 24px)
      map-remove($font-sizes, "small")<br>
      Result: ("normal": 18px, "large": 24px)<br><br>
      map-remove($font-sizes, "small", "large")<br><br>
      Result: ("normal": 18px)

      According to the above example we can remove specific element ar elements using map-remove;

    </div>

    <div class="c-intro">
      <div class="m-header">map-keys($map)</div>

      Returns a list of all keys in map.<br><br>

      Example:<br><br>
      $font-sizes: ("small": 12px, "normal": 18px, "large": 24px)<br><br>
      map-keys($font-sizes)<br><br>
      Result: "small", "normal, "large"<br><br>

      According to the above example we can get all keys using map-keys;

    </div>

    <div class="c-intro">
      <div class="m-header">map-values($map)</div>

      Returns a list of all values in map.<br><br>

      Example:<br><br>
      $font-sizes: ("small": 12px, "normal": 18px, "large": 24px)<br><br>
      map-values($font-sizes)<br><br>
      Result: 12px, 18px, 24px<br><br>

      According to the example behave like map-keys

    </div>

    <div class="c-intro">
      <div class="m-header">map-has-key($map, $key)</div>
      <br><br>

      Checks whether map has the specified key. Returns true or false.<br><br>

      Example:
      $font-sizes: ("small": 12px, "normal": 18px, "large": 24px)<br><br>
      map-has-key($font-sizes, "big")<br><br>
      Result: false<br><br>

      According to the example we can check specific whether includes or not in the map.

    </div>


  </div>
</div>





