<div class="m-grid">
  <div class="m-col-12">
    <div class="m-header m-col-6">Scss Variable</div>
    <div class="m-col-6 m-grid-content-right">
      <m-button buttonLabel="back" class="m-button-primary"
                (btnClick)="router.navigateByUrl('scss-trick')"></m-button>
    </div>

  </div>

  <div class="page-content">
    Sass variables are simple: you assign a value to a name that begins with $, and then you can refer to that name
    instead of the value itself. But despite their simplicity, they're one of the most useful tools Sass brings to the
    table. Variables make it possible to reduce repetition, do complex math, configure libraries, and much more.
    <br>
    Example: $name: 'Damith',  number: 10;
  </div>


  <div class="label">Sample Label</div>
</div>
