<div class="page">

  <h4>MasterNG CheckBox Introduction</h4>

  <ul>
    <li>CheckBox includes events mention as bellow</li>
  </ul>


  <table>
    <tr>
      <th>Event</th>
      <th>Custom Event Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Change</td>
      <td>onParentSelect</td>
      <td>Trigger On change the parent checkbox</td>
    </tr>
    <tr>
      <td>Change</td>
      <td>onChildSelect</td>
      <td>Trigger On change the children checkbox</td>
    </tr>
  </table>

  <ul>
    <ul>
      <li>childrens : Can be defined the children array</li>
      <li>isChecked : Can be get/patch parent checkbox section status</li>
    </ul>
  </ul>


  <div class="c-intro">

    <m-checkbox-group></m-checkbox-group>

    <div id="checkBox" class="source top-alignment" appCopyText>
      <span><</span>m-checkbox-group childrens="options"<span>></span>
      <span><</span>/m-checkbox<span>></span>
    </div>

    <span id="copy-success-overlay">Successfully Copied</span>

  </div>


</div>
