<div class="page">

<h4>MasterNG Button Introduction</h4>

<ul>
  <li>Button includes events mention as bellow</li>
</ul>


<table>
  <tr>
    <th>Event</th>
    <th>Custom Event Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Event-Click</td>
    <td>btnClick</td>
    <td>Trigger On click the button</td>
  </tr>
  <tr>
    <td>Event-Hover</td>
    <td>btnHover</td>
    <td>Trigger On hover the button</td>
  </tr>
</table>


<ul>
  <li>In addition to that can be pass animations to the button.according to the bellow variable behave like boolean can
    be pass true false as user want
  </li>
  <ul>
    <li>activeAnimated : Trigger button keep in active event</li>
    <li>colorAnimation: Change button color</li>
  </ul>
  <li>Directive Usages-in this components I used to copy text as directive this directive can be used to copy specific
    HTML element related text
  </li>
</ul>


<h4>Button Types</h4>

<div class="button-type">

  <div class="btn-category" (click)="loadContent('P')">Primary</div>
  <div class="btn-category" (click)="loadContent('O')">OutLine</div>
  <div class="btn-category" (click)="loadContent('X')">Danger</div>

</div>

<div class="c-intro">

  <m-button class="m-button-primary" buttonLabel="Submit" *ngIf="primary">
  </m-button>
  <br>

  <div *ngIf="primary" class="source" id="btn-primary" appCopyText>
  <span><</span>m-button class="m-button-primary" buttonLabel="Submit"<span>></span>
  <span><</span>/m-button<span>></span>
  </div>

  <m-button class="m-button-outline" buttonLabel="Save" *ngIf="outline">
  </m-button>
  <br>

  <div *ngIf="outline" class="source" id="btn-outline" appCopyText
  ><span><</span>m-button class="m-button-outline" buttonLabel="Submit"<span>></span>
    <span><</span>/m-button<span>></span></div>

  <m-button class="m-button-danger" buttonLabel="Reject" *ngIf="danger">
  </m-button>
  <br>

  <div class="source" *ngIf="danger" id="btn-danger" appCopyText>
    <span><</span>m-button class="m-button-danger" buttonLabel="Submit"<span>></span>
    <span><</span>/m-button<span>></span></div>

  <span id="copy-success-overlay">Successfully Copied</span>


</div>

</div>
