<div class="page">

  <h4>Input Introduction</h4>

  <ul>
    <li>Input includes events mention as bellow</li>
  </ul>


  <table>
    <tr>
      <th>Event</th>
      <th>Custom Event Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Event-KeyUp</td>
      <td>onKeyUp</td>
      <td>Trigger On key up the field</td>
    </tr>
    <tr>
      <td>Event-KeyDown</td>
      <td>onKeyDown</td>
      <td>Trigger On key down the field</td>
    </tr>
  </table>

  <ul>
    <ul>
      <li>minLength : Minimum can be add character</li>
      <li>maxLength: Maximum can be add character</li>
    </ul>
  </ul>


  <div class="c-intro">

    <m-textarea textFieldPlaceholder="Sample Text Area"></m-textarea>

    <div id="datepickerId" class="source" appCopyText>
      <span><</span>m-input textFieldPlaceholder="Name" inputType="text" maxLength="100"<span>></span>
      <span><</span>/m-input<span>></span>
    </div>
    <span id="copy-success-overlay">Successfully Copied</span>
  </div>


</div>
