<div class="page">

  <div class="m-header">SCSS Components</div>

  <ul>
    <li>SCSS Components types mention as bellow</li>
  </ul>


  <table>
    <tr>
      <th>Name</th>
      <th>Learn Concepts</th>
      <th>Description</th>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="m-box">Box</td>
      <td>Box Model</td>
      <td>What is box model and describe content,border,padding,margin</td>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="m-box-shadow">Box Shadow</td>
      <td>Box shadow related styles</td>
      <td>What is box shadow styles and usages</td>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="m-text-shadow">Text Shadow</td>
      <td>Text Shadow Related Style</td>
      <td>What is text shadow styles and usages</td>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="m-animation">Animation</td>
      <td>How to use animation</td>
      <td>What are the property's can use for animate scss elements</td>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="m-border">Border</td>
      <td>Border related styles</td>
      <td>Border types text,box..</td>
    </tr>
  </table>

</div>
