<div class="about-content">

<h3>What is front-end development? What does it entail and how can one become a front end developer?</h3>

<p>Front-end web development, or client-side development, refers to working with HTML, CSS and JavaScript for a website
  or web application that allows users to see and interact with them directly.in this I'm focusing on angular 14
  features and tricks to importance to front end developers.All implementation done by own solution you guys can send me
  a any your ideas and how to reduce code😊</p>

</div>
