<nav>
  <a class="theme-detail"  routerLink="/">MasterNG</a>
  <div class="dropdown">
    <a class="main-topic">Components</a>
    <div class="dropdown-content">
      <a class="menu-label" routerLinkActive="active" routerLink="/button">Button</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/checkbox">CheckBox</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/checkbox-group">CheckBox Group</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/chip-set">Chip Set</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/datepicker">DatePicker</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/dropdown">DropDown</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/modal">Modal</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/table">Table</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/input">Input</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/textarea">TextArea</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/m-radiobutton">Radio Button</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/m-alert">Alert</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/m-toggle">Toggle</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/m-loader">Loader</a>
      <a class="menu-label" routerLinkActive="active" routerLink="/m-accordion">Accordion</a>
    </div>
  </div>
  <div class="dropdown">
    <a class="main-topic">Concepts</a>
    <div class="dropdown-content">
      <a class="menu-label" routerLinkActive="active" routerLink="support/directive">Directive</a>
      <a class="menu-label" routerLinkActive="active" routerLink="support/template">Ng Template</a>
      <a class="menu-label" routerLinkActive="active" routerLink="support/css-tricks">GRID</a>
    </div>
  </div>
  <div class="dropdown">
    <a class="main-topic" routerLinkActive="active" routerLink="/scss-trick">SCSS Tricks</a>
  </div>
  <div class="dropdown">
    <a class="main-topic" routerLinkActive="active" routerLink="scss-component">SCSS Components</a>
  </div>
  <div class="dropdown">
    <a class="main-topic" routerLinkActive="active" routerLink="support">Support</a>
  </div>

  <div class="dropdown">
    <a class="main-topic">KeyBoard Events</a>
    <div class="dropdown-content">
      <a class="menu-label" routerLinkActive="active" routerLink="keyboard-event/add-event-listener">Add Event Listener</a>
      <a class="menu-label" routerLinkActive="active" routerLink="keyboard-event/host-listener">Host Liner</a>
      <a class="menu-label" routerLinkActive="active" routerLink="keyboard-event/key-bord-directive">Key Bord Event Directive</a>
    </div>
  </div>
</nav>
