@mixin animate($animation,$duration,$method,$times){
  animation: $animation $duration $method $times;
}

@mixin keyframes($name){
  @keyframes #{$name}{
    @content;
  }
}

.headline{
  padding: 10px;
  @include keyframes(fade){
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 0;
    }
  }
  @include animate(fade, 1s, linear, infinite);
}
