<div class="page">

  <h4>Datepicker Introduction</h4>

  <ul>
    <li>Datepicker includes events mention as bellow</li>
  </ul>


  <table>
    <tr>
      <th>Event</th>
      <th>Custom Event Name</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Event-Select</td>
      <td>onSelect</td>
      <td>Trigger On select the date</td>
    </tr>
  </table>

  <ul>
    <ul>
      <li>min : Can be selected min date</li>
      <li>max: Can be selected max date</li>
    </ul>
  </ul>


  <div class="c-intro">

    <m-datepicker></m-datepicker>

    <div id="datepickerId" class="source" appCopyText>
      <span><</span>m-datepicker<span>></span>
      <span><</span>/m-datepicker<span>></span>
    </div>
    <span id="copy-success-overlay">Successfully Copied</span>
  </div>


</div>
