<div class="page">

  <div class="m-header">SCSS Concept</div>

  <table>
    <tr>
      <th>Name</th>
      <th>Learn Concepts</th>
      <th>Description</th>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="scss-function">Scss Function</td>
      <td>Learn pow,invert,sum..</td>
      <td>How to Use scss function</td>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="scss-variable">Scss Variable</td>
      <td>How to defined a variable in scss</td>
      <td>How to use variables</td>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="scss-loop">Scss Loop</td>
      <td>Scss Loop</td>
      <td>How to works with scss loop</td>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="scss-condition">Scss Condition</td>
      <td>Scss condition</td>
      <td>How to use scss condition</td>
    </tr>
    <tr>
      <td class="hyperlink" routerLinkActive="active" routerLink="scss-map">Scss Map</td>
      <td>Scss Map</td>
      <td>How to use scss Map</td>
    </tr>
  </table>

</div>
