@import "../../scss/color.scss";

//common styles
@mixin common-button-style{
  border-radius: 12px;
  min-width: 8% !important;
  color: $white;
  font-size: 17px;
  cursor: pointer;
  height: 31px;
  width: 85px;
  margin:6px;

  &:active{
    background: lighten($green, 10%);
  }
}

//primary button styles
.m-button-primary {
  @include common-button-style;
  border: 1px solid $green;
  background: $green;

}

//danger button styles
.m-button-danger{
  @include common-button-style;
  border: 1px solid $dark-red;
  background: $red;
}

//outline button styles
.m-button-outline{
  @include common-button-style;
  border: 3px groove $black-gray;
  background: $white;
  color: $black !important;
  font-weight:200;
}

//animation related styles--->

.active-animation:active{
  box-shadow: 0 5px $dark-red;
  transform: translateY(4px);
}

.color-change-animation:hover{
  animation: animate-hover 2s infinite;
}

@keyframes animate-hover {
  from {
    background-color: $red;
  }
  to {
    background-color: darken($red, 12%);
  }
}
