<div class="m-grid">
  <div class="m-col-12">
    <div class="m-header m-col-6">Scss Condition</div>
    <div class="m-col-6 m-grid-content-right">
      <m-button buttonLabel="back" class="m-button-primary"
                (btnClick)="router.navigateByUrl('scss-trick')"></m-button>
    </div>

  </div>

  <div class="page-content">
    The @if control directive evaluates a given expression and if it returns anything other than false, it processes its block of styles.
    <div class="c-intro">

      <div class="test-selector">
      Text Content - Display Block
      </div>

    </div>


  </div>
</div>
