<div class="page">

  <h4>Loader Introduction</h4>

  <ul>
    <li>Custom Loader</li>
  </ul>


  <table>
    <tr>
      <th>Loader Type</th>
      <th>Process</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Spin</td>
      <td>Spin as circle</td>
      <td>Pass param type: 'spin'</td>
    </tr>
    <tr>
      <td>Circle</td>
      <td>Spin as circle</td>
      <td>Pass param type: 'ripple'</td>
    </tr>
    <tr>
      <td>Infinity</td>
      <td>Spin as infinity</td>
      <td>Pass param type: 'infinity'</td>
    </tr>
    <tr>
      <td>Radio</td>
      <td>Spin as radio</td>
      <td>Pass param type: 'radio'</td>
    </tr>
  </table>

  <div class="c-intro">

    <m-loader type="ripple"></m-loader>

    <div id="datepickerId" class="source" appCopyText>
      <span><</span>m-loader type="ripple"<span>></span>
      <span><</span>/m-loader<span>></span>
    </div>
    <span id="copy-success-overlay">Successfully Copied</span>
  </div>


</div>
