<p class="c-intro">In Angular, Directives are defined as classes that can add new behavior to the elements in the template or modify
  existing behavior. The purpose of Directives in Angular is to maneuver the DOM, be it by adding new elements to DOM or
  removing elements and even changing the appearance of the DOM elements.
  <br><a href="https://angular.io/guide/built-in-directives"
         routerLinkActive="routerLinkActive" class="hyperlink" target="_blank">How to build directive</a>
</p>

<ul>
  <li>Custom set of directive as bellow</li>
</ul>


<table>
  <tr>
    <th>Directive Name</th>
    <th>Directive Attribute</th>
    <th>Usage</th>
  </tr>
  <tr>
    <td>Copy Text</td>
    <td>appCopyText</td>
    <td>Used to copy text from specific element</td>
  </tr>
  <tr>
    <td>Number Only</td>
    <td>numberOnly</td>
    <td>Set field as number only</td>
  </tr>
</table>
