<div class="m-grid">
  <div class="m-col-12">
    <div class="m-header m-col-6">Text Shadow</div>
    <div  class="m-col-6 m-grid-content-right">
      <m-button buttonLabel="back" class="m-button-primary"
                (btnClick)="router.navigateByUrl('scss-component')"></m-button>
    </div>

  </div>
  <div class="page-content">

    <ul>
      Normal text shadow
      <li class="first-div">This is how you add a box-shadow to an element.</li>
    </ul>


    <ul>
      This is black ,white and blue text shadow
      <li class="white-text-with-blue-shadow">This is how you add a box-shadow to an element.</li>
    </ul>

  </div>

</div>
