@import '../../src/scss/color.scss';

*{
  color: $black;
  font-size: 15px;
  font-family: sans-serif, serif;
  background-color: lighten(azure, 10%);
}

.page{
  height: 87vh;
  max-height: 92vh !important;
  overflow: hidden !important;
}

.page-content{
  max-height: 750px;
  overflow: auto;
}

.page-h-text{
  color: $black;
  text-shadow: 2px 2px 8px $dark-green;
  padding: 10px;
}


.c-intro {
  margin-top: 10px;
  height: auto;
  border: 1px solid $green;
  padding:10px;
  display: grid;
  position: relative;
}

.c-intro-main{
  margin-top: 10px;
  max-height: 87vh;
  overflow: auto;
  border: 1px solid #4bc290;
  padding: 10px;
  display: block;
  position: relative;
}

.source{
  color: $secondary-blue;
  background-color: azure;
  padding: 2px;
  cursor: copy;
  width: fit-content;
  margin-top: 10px;
}

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
    @content;
  }
}

@include headings {
  font-size: 20px;
  color: $green;
  font-family: "Britannic Bold", sans-serif;
}

.sub-header{
  display: inline-grid;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  text-underline-position: under;
}

.outer-code-viewer{
  height: auto;
}

.code-viewer{
  border: none !important;
  height: 180px;
  &:active{
    border: none !important;
    height: 200px;
  }
}

.sample-topic{
  display: inline-grid;
  font-size: 15px;
  text-decoration: underline;
  padding-bottom: 10px;
}

//scroll bar related styles

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $light-gray;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darken($light-gray, 40%);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($light-gray, 40%);
  cursor: pointer;
}

//table related styles

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


//copy text directive

#copy-success-overlay {
  visibility: hidden;
  color: #fff;
  background-color: $secondary-blue;
  min-width: 250px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  bottom: 30px;
  z-index: 1;
  left: 50%;
  font-size: 13px;
  margin-left: 5px;
}

/* This will be activated when the snackbar's class is 'show' which will be added through JS */
#copy-success-overlay.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations for fading in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.m-inline-flex{
  display: inline-flex !important;
}

.hyperlink {
  text-decoration: underline;
  color: $secondary-blue;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: $secondary-blue;
}

.common-grid{
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: $secondary-blue;
  padding: 10px;
}

.grid-container {
  display: grid;
  @extend .common-grid;
}

.block-container{
  display: block;
  @extend .common-grid;
}

.inline-block-container{
  display: inline-block;
  @extend .common-grid;
}

.inline-flex-container{
  display: inline-flex;
  @extend .common-grid;
}

header{
  display: contents;
  width: auto;
}

footer{
  display: flex;
  float: right;
}

//list

ul.circle {
  list-style-type: circle;
  font-size: 16px !important;
}

ul.square {
  list-style-type: square;
}

ol.upper-roman {
  list-style-type: upper-roman;
}

ol.lower-alpha {
  list-style-type: lower-alpha;
}

//links

a:link {
  color: $secondary-blue;
}

/* visited link */
a:visited {
  color: $secondary-blue;
}

/* mouse over link */
a:hover {
  color: $secondary-blue;
}

/* selected link */
a:active {
  color: $secondary-blue;
}
