<div class="page">

  <h4>Alert Introduction</h4>

  <ul>
    <li>Class: Used to bind class: success, danger, error..
    </li>
    <li>Text Used to bind text.
    </li>
  </ul>


  <div class="c-intro">
    <m-alert class="m-alert-success" text="ABC">dwd</m-alert>

    <div id="dropdownId" class="source top-alignment" appCopyText>
      <span><</span>m-alert class="m-alert-success" text="ABC"<span>></span>
      <span><</span>/m-alert<span>></span>
    </div>

    <span id="copy-success-overlay">Successfully Copied</span>

  </div>


</div>
