@import '../../src/scss/color.scss';

//margin

.m-mt-1{
  margin-top: 1rem !important;
}

.m-mt-2{
  margin-top: 2rem !important;
}

.m-mt-3{
  margin-top: 3rem !important;
}

.m-mt-4{
  margin-top: 4rem !important;
}

.m-mt-5{
  margin-top: 5rem !important;
}

.m-mt-6{
  margin-top: 6rem !important;
}

.m-mt-7{
  margin-top: 7rem !important;
}


//padding

.m-pt-1{
  padding-top: 1rem !important;
}


.m-pt-2{
  padding-top: 2rem !important;
}

.m-pt-3{
  padding-top: 3rem !important;
}

.m-pt-4{
  padding-top: 4rem !important;
}

.m-pt-5{
  padding-top: 5rem !important;
}

.m-pt-6{
  padding-top: 6rem !important;
}

.m-pt-7{
  padding-top: 7rem !important;
}


//display

.m-grid{
  display: grid !important;
}

.m-flex{
  display: flex !important;
}

//align in the specific container

.m-grid-content-right{
  text-align: -webkit-right !important;
}

//col

.m-col-12{
  width: 100% !important;
  display: inline-flex !important;
}

.m-col-6{
  width: 50% !important;
}

.m-col-3{
  width: 25% !important;
}

//header

.m-header{
  padding: 7px;
  font-size: 16px !important;
  color: $secondary-dark-gray;
  font-weight: bold;
}
