<div class="m-grid">
  <div class="m-col-12">
    <div class="m-header m-col-6">Scss Loop</div>
    <div class="m-col-6 m-grid-content-right">
      <m-button buttonLabel="back" class="m-button-primary"
                (btnClick)="router.navigateByUrl('scss-trick')"></m-button>
    </div>

  </div>

  <a class="hyperlink" href="https://www.gavsblog.com/blog/for-each-while-loops-sass-scss">More Details Obout Scss Loops</a>

  <div class="page-content">
    Sass has several loop options, much like other programming languages. They include the @for loop, @each loop and
    @while loop. These loops are an incredibly powerful tool for generating CSS code because you can defer code
    generation into an iterable task
  </div>

  <div class="c-intro">
    @for loop: class-> columns-bind loop index; width: set divide index<br>

    <div class="columns-1">ABC-width:100%</div>
    <div class="columns-2">ABC-width:50%</div>
  </div>

  <div class="c-intro">
    @each loop: Example- Change background color according to the class<br>
    <div class="text">
    <div class="bg-blue">Blue Background</div>
    <div class="bg-green">ABC-width:50%</div>
    </div>
  </div>

  <div class="c-intro">
    @while loop: Example-Get font sizes according to the condition<br>
    <div class="text">
      <div class="m-f-14">Font Size - 14px</div>
      <div class="m-f-30">Font Size - 30px</div>
    </div>
  </div>


</div>
