<div class="m-grid">
  <div class="m-col-12">
  <div class="m-header m-col-6">Box Model</div>
  <div  class="m-col-6 m-grid-content-right">
    <m-button buttonLabel="back" class="m-button-primary"
              (btnClick)="router.navigateByUrl('scss-component')"></m-button>
  </div>

  </div>

</div>

  <div class="c-intro">
    In CSS, the term "box model" is used when talking about design and layout.
    The CSS box model is essentially a box that wraps around every HTML element. It consists of: margins, borders,
    padding, and the actual content. The image below illustrates the box model:

    <ul class="circle">
      Explanation of the different parts:
      <li>Content - The content of the box, where text and images appear</li>
      <li>Padding - Clears an area around the content. The padding is transparent</li>
      <li>Border - A border that goes around the padding and content</li>
      <li>Margin - Clears an area outside the border. The margin is transparent</li>

    </ul>


  </div>


